<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="PostSharp" version="3.2.4-alpha" targetFramework="portable-net45+wp80+win" />
  <package id="PostSharp.Patterns.Common" version="3.2.4-alpha" targetFramework="portable-net45+wp80+win" />
  <package id="PostSharp.Patterns.Model" version="3.2.4-alpha" targetFramework="portable-net45+wp80+win" />
</packages>