<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="3.3.0-ci1008" targetFramework="net451" />
  <package id="PostSharp" version="4.0.36" targetFramework="net451" />
  <package id="PostSharp.Patterns.Common" version="4.0.36" targetFramework="net451" />
  <package id="PostSharp.Patterns.Model" version="4.0.36" targetFramework="net451" />
</packages>