<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="3.3.0-ci1008" targetFramework="portable-net45+win+wp80" />
  <package id="PostSharp" version="3.2.25-beta" targetFramework="portable-net45+win+wp80" />
  <package id="PostSharp.Patterns.Common" version="3.2.25-beta" targetFramework="portable-net45+win+wp80" />
  <package id="PostSharp.Patterns.Model" version="3.2.25-beta" targetFramework="portable-net45+win+wp80" />
</packages>