<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="3.3.0-ci1008" targetFramework="net451" />
  <package id="Cinch" version="2.0.70832" targetFramework="net451" />
  <package id="Extended.Wpf.Toolkit" version="2.2.1" targetFramework="net451" />
  <package id="PostSharp" version="3.2.27-beta" targetFramework="net451" />
  <package id="PostSharp.Patterns.Common" version="3.2.27-beta" targetFramework="net451" />
  <package id="PostSharp.Patterns.Model" version="3.2.27-beta" targetFramework="net451" />
</packages>