<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="PostSharp" version="3.2.1" targetFramework="win81" />
  <package id="PostSharp.Patterns.Common" version="3.2.1" targetFramework="win81" />
  <package id="StyleMVVM" version="3.1.5" targetFramework="win81" />
  <package id="StyleMVVM.CSharp" version="3.1.5" targetFramework="win81" />
</packages>