<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="3.2.0-ci1003" targetFramework="win81" />
  <package id="PostSharp" version="3.2.9-alpha" targetFramework="win81" />
  <package id="PostSharp.Patterns.Common" version="3.2.9-alpha" targetFramework="win81" />
  <package id="PostSharp.Patterns.Model" version="3.2.9-alpha" targetFramework="win81" />
  <package id="StyleMVVM" version="3.1.5" targetFramework="win81" />
  <package id="StyleMVVM.CSharp" version="3.1.5" targetFramework="win81" />
  <package id="XamlInspector" version="0.6.5" targetFramework="win81" />
</packages>